version: '3'

services:
  web:
    container_name: bih-infra-app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - 3000:3000
    environment:
      - NODE_ENV=production
    networks:
      - bih-network

networks:
  bih-network:
    driver: bridge
